<% form_tag session_path do -%>
<fieldset>
    <h4 style="color:#ffffff">Ingrese sus datos</h4>
        <% if flash[:error] %>
      <div class="alert alert-block alert-error">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4>Error!</h4>
        <%= flash[:error] %>
      </div>
    <% end %>

    <% if flash[:notice] %>
      <div >
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:notice] %>
      </div>
    <% end %>
  
  <table>
    <tr>
      <tr><%= text_field_tag 'login', @login, :placeholder => "usuario", :size => '30' %></tr>
    </tr>
    <tr>
      <tr><%= password_field_tag 'password', nil, :placeholder => "contraseña", :size => '30'  %></tr>
    </tr>
  </table>
  
  <br />
    <br />

<!-- Uncomment this if you want this functionality
<p><%= label_tag 'remember_me', 'Remember me' %>
<%= check_box_tag 'remember_me', '1', @remember_me %></p>
-->
<p><%= submit_tag 'Ingresar', :class=> 'class="btn btn-sm btn-default' %></p>
  </fieldset>
<% end -%>





