<% form_tag session_path do -%>
    <h5 style="color:#ffffff; margin-botton:10px">Ingrese sus datos</h5>
      
      <% if flash[:error] %>
      <div class="alert alert-block alert-error"; style="background-color:rgba(250,250,250, 0.18)">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h5><b>Error!</b></h5>
        <%= flash[:error] %>
      </div>
    <% end %>

    <% if flash[:notice] %>
      <div class="alert alert-block alert-error"; style="background-color:rgba(250,250,250, 0.18)">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:notice] %>
      </div>
    <% end %>
  
 
    <%= text_field_tag 'login', @login, :placeholder => "usuario", :style=>'width:100%; font-size:14px;height:30px; padding-left:4px; margin:15px 0 0 0'%>
    <%= password_field_tag 'password', nil, :placeholder => "contraseña", :style=>'width:100%; height:30px; padding-left:4px; margin:10px 0 20px 0' %>
    <%= submit_tag 'Ingresar', :class=> 'btn btn-sm btn-default', :style=>'border-radius:1px' %>
    

  </table>
  
  
<!-- Uncomment this if you want this functionality
<p><%#= label_tag 'remember_me', 'Remember me' %>
   <%#= check_box_tag 'remember_me', '1', @remember_me %></p>
-->

<% end -%>

<script type="text/javascript">
  
  $('#login').keypress(function(event) {
        if (event.which == '13') {
          event.preventDefault();
          $('#password').focus();
        }
  });



   $("#login").focus();





</script>


<style type="text/css">
  

</style>
