<h3 style="margin-top:0px; margin-bottom: 15px">Rubros</h3>


<%= form_tag(rubros_path, :method => 'get',:id=>'buscar') %>

   
 <% unless @rubros.blank? %>
  <table class="table" style="font-size :13px" >
          <thead>
            <tr style="height:12px">
            <th>Nombre</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <% @rubros.each do |rubro| %>
            <tr style="height:9px">
                <td><%=h rubro.nombre %></td>
                <td style="text-align:right">
                       <%= link_to image_tag('iconos/zoom2.png'), rubro, :title=>'Ver', :class=>'fancybox' %>
                          <%= link_to image_tag('iconos/16x16/pencil.png'), edit_rubro_path(rubro), :title=>'Editar',:class=>'qtip' %>
                          <%= link_to image_tag('iconos/16x16/remove.png'), rubro, :title=>'Eliminar',:class=>'qtip', :confirm => 'Esta Seguro?', :method => :delete %>
                </td>
              </tr>
          <% end %>
          </tbody>
  <%else%>
            <tr>
              <td><div><h3><font color="red">No se encontraron resultados</font></h3></div></td>
            </tr>
   <%end%>
</table>
 <div style="text-align:center">
    <%= will_paginate @rubros, :previous_label => '<< Anterior', :next_label => 'Siguiente >>'%>
  </div>

<br />
<br />

 <%= link_to 'Nuevo Rubro', new_rubro_path ,:class=>'btn btn-primary' %>


<script type="text/javascript">

    $(document).ready(function () {

      });
 
   

</script>


<style type="text/css">

  .fancybox-custom .fancybox-skin {
	box-shadow: 0 0 50px #222;
  }

 input[type="text"] {
   height: 15px;
   font-size: 13px;
   line-height: 15px;
   margin-bottom: 0px;
}
</style>
