<h1>Editing moneda</h1>

<% form_for(@parametros) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label  :iva %><br />
    <%= f.text_field :iva %>
  </p>
  <p>
    <%= f.label :iva %><br />
    <%= f.text_field :iva %>
  </p>
  <p>
    <%= f.submit 'Actualizar Parametros' %>
  </p>
<% end %>

