<h1>Editing moneda</h1>

<% form_for(@moneda) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label : %><br />
    <%= f.text_field : %>
  </p>
  <p>
    <%= f.label : %><br />
    <%= f.text_field : %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @moneda %> |
<%= link_to 'Back', monedas_path %>