<h1>New concepto_operacion</h1>

<% form_for(@concepto_operacion) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </p>
  <p>
    <%= f.label :modulo_id %><br />
    <%= f.text_field :modulo_id %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', concepto_operaciones_path %>