<h4>Nuevo Producto</h4><hr style="margin-top: 0px; padding-top: 0px;  margin-bottom:25px" />

<% form_for(@proveedor) do |f| %>
  <%= f.error_messages %>


<div class="brogertab">
            <ul id="myTab" class="nav nav-tabs">
              <li class="active"><a href="#general"    data-toggle="tab">Generales</a></li>
              <li class=""><a href="#categoria"  data-toggle="tab">Categoria</a></li>
              <li class=""><a href="#Web"        data-toggle="tab">Web</a></li>
              <li class=""><a href="#descipcion" data-toggle="tab">Descripci&oacute;n</a></li>
            </ul>

            <div id="myTabContent" class="tab-content">
                      <div class="tab-pane fade" id="general">
                                         <table>
                                              <tr>
                                                <td><%= f.label :codigo %></td>
                                                <td> <%  Proveedor.count >= 1  ? "#{Proveedor.last.id.to_i + 1}" : "1"  %></td>
                                              </tr>
                                              <tr>
                                                <td><%= f.label :razon_social %></td>
                                                <td><%= f.text_field :razon_social %></td>
                                              </tr>
                                              <tr>
                                                <td><%= f.label :cuil  %></td>
                                                <td><%= f.text_field :cuil %></td>
                                              </tr>
                                          </table>
                      </div>


                      <div class="tab-pane fade" id="categoria">
                                           <table>
                                                <tr>
                                                  <td><%= f.label :descripcion %></td>
                                                  <td><%= f.text_field :descripcion %></td>
                                                </tr>
                                            </table>
                      </div>

                      <div class="tab-pane fade" id="web">
                                             <table>
                                                  <tr>
                                                    <td><%= f.label :descripcion %></td>
                                                    <td><%= f.text_field :descripcion %></td>
                                                  </tr>
                                              </table>
                      </div>


                      <div class="tab-pane fade" id="descripcion">
                                              <table>
                                              <tr>
                                                <td><%= f.label :descripcion %></td>
                                                <td><%= f.text_field :descripcion %></td>
                                              </tr>
                                          </table>
                      </div>


            </div>

</div>
<br />
<br />
<div style="text-aling:rigth"> <%= f.submit 'Guardar', :class=>"btn btn-danger" %> | <%= link_to 'Volver', productos_path %> </p></div>


<% end %>


  <script type="text/javascript">

    $('#myTab a').click(function (e) {
      e.preventDefault();
      $(this).tab('show');
    })

  </script>

<style type="text/css">
    .brogertab{
          min-height: 260px;
          height: auto;
    }

  </style>