<div id="titulo" style="padding: 10px 0 6px 20px ">
    <h3>Nuevo Proveedor</h3>
</div>
<% form_for(@proveedor) do |f| %>
  <%= f.error_messages %>
<div class="well" style="background-color:white">
  <div class="brogertab" >
              <ul id="myTab" class="nav nav-tabs">
                <li class="active"><a href="#general"          data-toggle="tab">Generales</a></li>
          <!-- <li                ><a href="#direccion"        data-toggle="tab">Direcci&oacute;n</a></li>-->
                <li               ><a href="#cuenta_corriente" data-toggle="tab">Cuenta Corriente</a></li>
              </ul>

         <div id="myTabContent" class="tab-content" style="padding:20px">
                <div  class="tab-pane active"  id="general" >
                    <table style="float:left; margin:0 100px 0 20px">
                              <tr>
                                <td><%= f.label :nombre %></td><td><%= f.text_field :nombre, :class=>'form-control' %></td>
                              </tr>
                              <tr>
                                <td><%= f.label :cuil %></td><td><%= f.text_field :cuil, :class=>'form-control' %></td>
                              </tr>
                              <tr>
                                <td><%= f.label :email %></td><td><%= f.text_field :email, :class=>'form-control' %></td>
                              </tr>
                              <tr>
                                <td><%= f.label :telefono %></td><td><%= f.text_field :telefono1, :class=>'form-control' %></td>
                              </tr>
                              <tr>
                                <td><%= f.label :celular %></td><td><%= f.text_field :celular1, :class=>'form-control' %></td>
                              </tr>
                        </table>

                        <table tyle="float:left; margin:0 180px 0 20px; display:inline">
                              <tr>
                                <td><%= f.label :estado_id %></td><td><%= f.select :estado_id , Estado.find(:all, :order =>'id').collect{|t|[t.nombre, t.id]}, :class=>'form-control' %></td>
                              </tr> 
                              <tr>
                                <td><%= f.label :provincia_id %></td><td><%= f.select :provincia_id , Provincia.find(:all, :conditions=>['estado_id = 1'], :order =>'nombre').collect{|t|[t.nombre, t.id]}, :class=>'form-control' %></td>
                              </tr> 
                              <tr>
                                <td><%= f.label :localidad_id %></td><td><%= f.select :localidad_id , Localidad.find(:all,  :conditions=>['estado_id = 1'], :order =>'nombre').collect{|t|[t.nombre, t.id]}, :class=>'form-control' %></td>
                              </tr>  
                              <tr>
                                <td><%= f.label :direccion, 'direcci&oacute;n' %></td><td><%= f.text_field :direccion, :class=>'form-control', :style=>'width:180px' %></td>
                              </tr>  
                        </table>
                </div>
                <!-- <div class="tab-pane fade" id="direccion"> </div> -->

                <div class="tab-pane fade" id="cuenta_corriente">
                                          
                </div>
        </div>
  </div>
</div>  
<div id="pie" style="height:30px; padding:16px">
    <div style="text-align: right"><p> <%= f.submit 'Guardar', :class=>"btn btn-danger" %></p></div>
</div>
<% end %>


<script type="text/javascript">

    var localidades = new Array();
    <% localidades = Localidad.find(:all) %>
    <% for localidad in localidades -%>
          localidades.push(new Array(<%= localidad.provincia_id %>, "<%=h localidad.nombre %>", <%= localidad.id %>));
    <% end %>
    $('#provincia_id').change(localidadSelec);
    

    $(document).ready(function(){
            $("#new_proveedor").validate({
             rules: {
                  "proveedor[nombre]": {required: true, rangelength: [3,60]},
                  "proveedor[provincia_id]": {required: true},
                  "proveedor[localidad_id]": {required: true}
                      }
            });
            localidadSelec();
    });


     $('#myTab a').click(function (e) {
          e.preventDefault();
          $(this).tab('show');
        });

   
     function localidadSelec() {
        provincia_id = $('#proveedor_provincia_id').val();
        $('#proveedor_localidad_id').empty();
        $('#proveedor_localidad_id').append(selec='<option></option>');
        localidades.forEach(function(localidad){
            if (localidad[0]==provincia_id){
                $('#proveedor_localidad_id').append(selec='<option value="'+ localidad[2] +'">'+ localidad[1]+'</option>');
            }
        });
    } 

</script>



<style type="text/css">

  input{
    padding-left: 4px
  }

  #fancybox-outer{
    background-color: #f5f5f5;
  }

 label{
    margin: 0  16px 6px;
    font-size: 12px

  }

  
  #fancybox-wrap {
    padding:0;
  }

  #fancybox-inner {
  position:relative;
  }

.brogertab{
          min-height: 260px;
          height: auto;
    }

    .tab-content{
        background-color: white
    }


        textarea{
          font-size: 14px
        }



  table tr{
    height: 36px;
  }
  

</style>



