<h1>New parametro</h1>

<% form_for(@parametro) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :iva %><br />
    <%= f.text_field :iva %>
  </p>
  <p>
    <%= f.label :descuento %><br />
    <%= f.text_field :descuento %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', parametros_path %>