<h1>Editing localidad</h1>

<% form_for(@localidad) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </p>
  <p>
    <%= f.label :provincia_id %><br />
    <%= f.text_field :provincia_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @localidad %> |
<%= link_to 'Back', localidads_path %>