 <%= form_tag(localidades_path, :method => 'get',:id=>'buscar') %>

  <div class="row" style="background-color:white" >
     <div id="titulo" class="col-sm-12"  >
         <h2>Localidades</h2>
     </div>
     <div id="comandos"  class="col-sm-12"  >
       <div style="width:100%">
         <a>===========================================================================================================</a>
         <%= text_field_tag :txtbuscar, params[:txtbuscar] ,:size=>40,:placeholder => 'buscar ...', :class=>"textbox1"%><div id="cargando"   style="display: none;">&nbsp;<%= image_tag('iconos/cargando.gif')%></div>
       </div>

     </div>
     <div id="menu_izquierdo"  class="col-sm-2" >

       <!-- ACORDENON -->
       <div class="panel-group" id="accordion">
           <div class="panel panel-default">
             <div class="panel-heading">
                  <h5 class="panel-title"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Registros</a></h5>
             </div>
             <div id="collapseOne" class="panel-collapse collapse in">
                 <div class="panel-body"><%= link_to 'Nueva Localidad', new_localidad_path %></div>
             </div>
           </div>
           <div class="panel panel-default">
             <div class="panel-heading">
              <h5 class="panel-title"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Reportes</a></h5>
             </div>
             <div id="collapseTwo" class="panel-collapse collapse">
              <div class="panel-body"> - Todos   </div>
             </div>
           </div>
           <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                    Tablas Relacionadas
                  </a>
                </h4>
              </div>
              <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                 - Provincias
                 
                </div>
              </div>
            </div>
      </div>


     </div>
     <div  id="contenido"  class="col-sm-10"  >
            
                       <% unless @localidades.blank? %>
                        <table class="table" style="font-size :13px" >
                                <thead>
                                  <tr style="height:12px">
                                  <th>Nombre</th>
                                  <th>Provincia</th>
                                  <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <% @localidades.each do |localidad| %>
                                  <tr style="height:9px">
                                      <td><%=h localidad.nombre %></td>
                                      <td><%=h localidad.provincia.nombre %></td>
                                      <td style="text-align:right">
                                             <%= link_to image_tag('iconos/16x16/zoom16.png'), localidad, :title=>'Ver' %>
                                                <%= link_to image_tag('iconos/16x16/configurar16.png'), edit_localidad_path(localidad), :title=>'Editar' %>
                                                <%= link_to image_tag('iconos/16x16/configurar16.png'), localidad, :title=>'Eliminar',
                                                  :confirm => 'Esta Seguro?', :method => :delete %>
                                      </td>
                                    </tr>
                                <% end %>
                                </tbody>
                        <%else%>
                                  <tr>
                                    <td><div><h4><font color="red">No se encontraron resultados</font></h4></div></td>
                                  </tr>
                         <%end%>
                      </table>
                       <div style="text-align:center" >
                          <%= will_paginate @localidades, :previous_label => '<< Anterior', :next_label => 'Siguiente >>'%>
                        </div>
      

     </div>
 </div>
 





<script type="text/javascript">

    $(document).ready(function () {
         $('#txtbuscar').focus();
         console.log();
         $('#buscar').submit(controlar_bene);

    });

    function controlar_bene(){
          if ( $('#txtbuscar') != '' && $('#buscar').valid()){
                $('#cargando').show();
          }
}



</script>

<style type="text/css">

  
     
     input[type="text"] {
       height: 20px;
       font-size: 13px;
       line-height: 15px;
    }

    #titulo{
      margin-top:0px;
      margin: 40px 0 0 0
    }

    #comandos{
      height:25px;
      /* background-color:rgb(42, 180, 10); */


    }

    #menu_izquierdo{
      float: left;
      padding:30px 0 0 10px;
      /* background-color:green; */
    }

    #contenido{
      padding:30px 30px 0 50px;
      /*background-color:white; */
      float: left;
      display: inline;
    }


</style>


  