<h3 style="margin-top:0px; margin-bottom: 15px">Localidades</h3>


    <%= form_tag(localidades_path, :method => 'get',:id=>'buscar') %>

  <table>
     <tr>
       <td><%= text_field_tag :txtbuscar, params[:txtbuscar] ,:size=>40,:placeholder => 'buscar ...'%></td>
       <td><div style="display: none;"><%= submit_tag "Buscar" %></div></td>
       <td><div id="cargando"   style="display: none;">&nbsp;<%= image_tag('iconos/cargando.gif')%></div></td>
     </tr>

  </table>
  <div id="tips" style="color:gray; height:10px; padding: 0 0 20px 0"><small><strong>Tip:</strong> Puede ingresar alguna porci&oacute;n del nombre de la localidad.</small></div>

  
 <% unless @localidades.blank? %>
        <table class="table" >
          <thead>
          <tr>
            <th>Nombre</th>
            <th>Provincia</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <% @localidades.each do |localidad| %>
            <tr>
                <td><%=h localidad.nombre %></td>
                <td><%=h localidad.provincia_id %></td>
                <td style="text-align:right">
                       <%= link_to image_tag('iconos/22x22/zoom.png'), localidad, :title=>'Ver', :class=>'qtip' %>
                          <%= link_to image_tag('iconos/22x22/page_edit.png'), edit_localidad_path(localidad), :title=>'Editar',:class=>'qtip' %>
                          <%= link_to image_tag('iconos/22x22/cross.png'), localidad, :title=>'Eliminar',:class=>'qtip', :confirm => 'Esta Seguro?', :method => :delete %>
                </td>
              </tr>
          <% end %>
          </tbody>
  <%else%>
            <tr>
              <td><div><h3><font color="red">No se encontraron resultados</font></h3></div></td>
            </tr>
   <%end%>
</table>
 <div style="text-align:center">
    <%= will_paginate @localidades, :previous_label => '<< Anterior', :next_label => 'Siguiente >>'%>
  </div>

<br />
<br />

 <%= link_to 'Nueva Localidad', new_localidad_path ,:class=>'btn btn-primary' %>


<script type="text/javascript">

 $(document).ready(function () {
     $('#txtbuscar').focus();
     console.log();
 $('#buscar').submit(controlar_bene);
});

    function controlar_bene(){
              if ( $('#txtbuscar') != '' && $('#buscar').valid()){
                $('#cargando').show();
              }
    }

 
</script>