<h1>Nueva Localidad</h1>

<% form_for(@localidad) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :provincia_id %><br />
    <%= f.select :provincia_id, Provincia.find(:all).collect{|t|[t.nombre, t.id]}, {:include_blank => true} %>

  </p>
   <p>
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </p>
  <p>
    <%= f.submit 'Guardar' %> | <%= link_to 'atras', localidades_path %>
  </p>
<% end %>




  <script type="text/javascript">
  $(document).ready(function(){
    $("#new_localidad").validate({
      rules: {
              "localidad[nombre]": {required: true, minlength: 3, maxlength:30},
              "localidad[provincia_id]": {required: true, minlength: 1, maxlength:60}
              }
    });

});
</script>




