<h1>Listing modulos</h1>

<table>
  <tr>
    <th>Nombre</th>
  </tr>

<% @modulos.each do |modulo| %>
  <tr>
    <td><%=h modulo.nombre %></td>
    <td><%= link_to 'Show', modulo %></td>
    <td><%= link_to 'Edit', edit_modulo_path(modulo) %></td>
    <td><%= link_to 'Destroy', modulo, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New modulo', new_modulo_path %>