<h1>Editing marca_categoria</h1>

<% form_for(@marca_categoria) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :integer %><br />
    <%= f.text_field :integer %>
  </p>
  <p>
    <%= f.label :integer %><br />
    <%= f.text_field :integer %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @marca_categoria %> |
<%= link_to 'Back', marca_categorias_path %>