   <a href="#tabs-1">Cambiar Contrase&ntilde;a</a>

    <% form_for :user, @user, :url => guardar_clave_users_path(@usuario) do |f| %>
      <%= f.error_messages :header_message => "No se pudo guardar la password",
      :message => "Hubo problemas en los siguientes datos:"%>
        <fieldset>
          <p><%= f.label :password, 'Nueva Contrase&ntilde;a' %><br/>
          <%= f.password_field :password %></p>

          <p><%= f.label :password_confirmation, 'Confirme la nueva Contrase&ntilde;a' %><br/>
          <%= f.password_field :password_confirmation %></p>
        </fieldset>
        
    <%= f.submit 'Guardar'  %> | <%= link_to 'Cancelar', root_path %>

</div>
<% end %>
<script type="text/javascript">

$(document).ready(function(){
    $('form').validate(
      {
        rules:{
          'usuario[password]': {required:true,minlength: 6},
          'usuario[password_confirmation]': {required:true,minlength: 6}
        }
      });
});
</script>
<!-- 'usuario[password_confirmation]': {required:true,minlength: 6, equalTo: '#password'} -->
