<div id="titulo" style="padding: 10px 0 6px 20px ">
    <h3>Nuevo Usuario </h3>
</div>
 
 <% form_for :user, :url => users_path do |f| -%>
  <%= error_messages_for :user,:header_message => "No se pudo guardar el user",:message => "Hubo problemas en los siguientes datos:" %>

<div class="well" style="background-color:white">
  <div class="brogertab" >
              <ul id="myTab" class="nav nav-tabs">
                <li class="active"><a href="#general"          data-toggle="tab">Generales</a></li>
           <!-- <li                ><a href="#direccion"        data-toggle="tab">Direcci&oacute;n</a></li>-->
                <li               ><a href="#cuenta_corriente" data-toggle="tab">Roles</a></li>
              </ul>

         <div id="myTabContent" class="tab-content" style="padding:20px">
                <div  class="tab-pane active"  id="general" >
                    <table style="float:left; margin:0 100px 0 20px">

                              <tr>
                                <td><%= f.label :login, 'login' %></td><td><%= f.text_field :login, :class=>'form-control' %></td>
                              </tr>
                              <tr>
                                <td><%= f.label :name, 'nombre' %></td><td><%= f.text_field :name, :class=>'form-control' %></td>
                              </tr>
                              <tr>
                                <td><%= f.label :email, 'email' %></td><td><%= f.text_field :email, :value=>nil, :class=>'form-control' %></td>
                              </tr>
                              <tr>
                                <td><%=f.label :password, 'Password' %></td><td><%= f.password_field :password, :value=>nil, :class=>'form-control' %></td>
                              </tr>
                              <tr>
                                <td><%= f.label :password_confirmation, 'Confirme la password' %></td><td><%= f.password_field :password_confirmation, :value=>nil,  :class=>'form-control' %></td>
                              </tr>
                              <tr>
                                <td><%= f.label :login, 'login' %></td><td><%= f.text_field :login, :class=>'form-control' %></td>
                              </tr>
                        </table> 
                </div>
                <!-- <div class="tab-pane fade" id="direccion"> </div> -->

                <div class="tab-pane fade" id="cuenta_corriente">
                                          
                </div>
        </div>
  </div>
</div>  
<div id="pie" style="height:30px; padding:16px">
    <div style="text-align: right"><p> <%= f.submit 'Guardar', :class=>"btn btn-danger" %> | <%= link_to 'Cancelar', users_path %> </p></div>
</div>
<% end %>



<style type="text/css">

  input{
    padding-left: 4px
  }

  #fancybox-outer{
    background-color: #f5f5f5;
  }

 label{
    margin: 0  16px 6px;
    font-size: 12px

  }

  
  #fancybox-wrap {
    padding:0;
  }

  #fancybox-inner {
  position:relative;
  }

.brogertab{
          min-height: 260px;
          height: auto;
    }

    .tab-content{
        background-color: white
    }


        textarea{
          font-size: 14px
        }



  table tr{
    height: 36px;
  }
  

</style>



<script type="text/javascript">

$(document).ready(function(){
    $('form').validate(
      {
        rules:{
          'user[login]': {required:true,minlength: 3 , maxlength: 40},
          'user[nro_documento]': {required:true,minlength: 6 , maxlength: 8},
          'user[name]': {required:true,minlength: 0, maxlength: 100 },
          'user[email]': { email:true},
          'user[password]': {required:true,minlength: 6},
          'user[password_confirmation]': {required:true,minlength: 6}
        }
      });
});
</script>



<style type="text/css">




  #fancybox-outer{
    background-color: #f5f5f5;
  }

  label{
    margin-right: 6px

  }

  
  #fancybox-wrap {
    padding:0;
  }

  #fancybox-inner {
  position:relative;
  }


</style>
