<h1>Listing producto_stocks</h1>

<table>
  <tr>
    <th>Producto</th>
  </tr>

<% @producto_stocks.each do |producto_stock| %>
  <tr>
    <td><%=h producto_stock.producto_id %></td>
    <td><%= link_to 'Show', producto_stock %></td>
    <td><%= link_to 'Edit', edit_producto_stock_path(producto_stock) %></td>
    <td><%= link_to 'Destroy', producto_stock, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New producto_stock', new_producto_stock_path %>