<h1>Editing deposito</h1>

<% form_for(@deposito) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @deposito %> |
<%= link_to 'Back', depositos_path %>