<h1>Listing depositos</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>direccion</th>
    <th>localidad</th>
    <th>provincia</th>
    <th>telefono</th>
  </tr>

<% @depositos.each do |deposito| %>
  <tr>
    <td><%=h deposito.nombre %></td>
    <td><%= link_to 'Show', deposito %></td>
    <td><%= link_to 'Edit', edit_deposito_path(deposito) %></td>
    <td><%= link_to 'Destroy', deposito, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New deposito', new_deposito_path %>