<h1>Listing comprobantes</h1>

<table>
  <tr>
    <th>Usuario</th>
  </tr>

<% @comprobantes.each do |comprobante| %>
  <tr>
    <td><%=h comprobante.usuario_id %></td>
    <td><%= link_to 'Show', comprobante %></td>
    <td><%= link_to 'Edit', edit_comprobante_path(comprobante) %></td>
    <td><%= link_to 'Destroy', comprobante, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New comprobante', new_comprobante_path %>