<h3>Productos</h3>
<%= form_tag(productos_path, :method => 'get',:id=>'buscar') %>
<div class="filtros" style="display: none; background: yellow" >
  <div style="font-size:10px; text-align: center; float: left; margin-right: 10px; background: yellow" >Rubro &nbsp; <%= select_tag :rubro_id,'<option></option>' + options_from_collection_for_select(Rubro.find(:all, :order => "nombre"),'id','nombre'), :class=> 'filtros_select' %></div>
  <div style="font-size:10px; text-align: center; float: left; margin-right: 10px; background: yellow" >Secci&oacute;n  &nbsp; <%= select_tag :seccion_id,'<option></option>' + options_from_collection_for_select(Seccion.find(:all, :order => "nombre"),'id','nombre'), :class=> 'filtros_select' %></div>
  <div style="font-size:10px; text-align: center; float: left; margin-right: 10px; background: yellow" >Categoria &nbsp; <%= select_tag :categoria_id,'<option></option>' + options_from_collection_for_select(Categoria.find(:all, :order => "nombre"),'id','nombre'), :class=> 'filtros_select' %></div>
  <div style="font-size:10px; text-align: center; float: left; margin-right: 10px; background: yellow" >Marca &nbsp; <%= select_tag :marca_id,'<option></option>' + options_from_collection_for_select(Marca.find(:all, :order => "nombre"),'id','nombre'), :class=> 'filtros_select' %></div>
  <div style="font-size:10px; text-align: center; float: left; margin-right: 10px; margin-bottom: 15px; background: yellow" >Proveedor &nbsp; <%= select_tag :marca_id,'<option></option>' + options_from_collection_for_select(Proveedor.find(:all, :order => "nombre"),'id','nombre'), :class=> 'filtros_select' %></div>

 </div>

<div class="search_simple" style="display:block">
  <table>
     <tr>
       <td><%= text_field_tag :txtbuscar, params[:txtbuscar] ,:size=>40,:placeholder => 'buscar ...'%></td>
       <td><div class="textbox1">&nbsp;<%= submit_tag "Buscar" , :class=>"btn btn-mini"%>&nbsp;</div></td>
       <td><div id="cargando"   style="display: none;">&nbsp;<%= image_tag('iconos/cargando.gif')%></div></td>
       <td>
           <div class="link_filtros" id="ver_filtros" onclick="ver_filtros()">ver filtros</div>
           <div class="link_filtros" id="ocultar_filtros" onclick="ocultar_filtros()" style="display:none">ocultar filtros</div>
       </td>
     </tr>
  </table>
   <div id="tips" style="color:gray; height:10px; padding: 0 0 20px 0"><small><strong>Tip:</strong> Puede ingresar alguna porci&oacute;n del nombre de la localidad.</small></div>

</div>

 <%= render :partial => 'resultados' %>


<%= link_to 'Nuevo Producto', new_producto_path ,:class=>'btn btn-primary' %>


<script type="text/javascript">
   $(document).ready(function(){
    $('.filtros').hide();
    $('.ocultar_filtros').hide();
    ocultar_filtros();
    $('#buscar').submit(mostrar_loading);
    
    })


   function mostrar_loading(){
          if ( $('#txtbuscar') != '' && $('#buscar').valid()){
                $('#cargando').show();
          }
  }

  function ver_filtros(){
    $('.filtros').show();
    $('#ocultar_filtros').show();
     $('#ver_filtros').hide();
  }

  function ocultar_filtros(){
    $('.filtros').hide();
    $('#ocultar_filtros').hide();
    $('#ver_filtros').show();

  }


</script>

<style type="text/css">
 input[type="text"] {
   height: 15px;
   font-size: 13px;
   line-height: 15px;
   margin-bottom: 0px;
}

.filtros{
  background: yellow;
}

.link_filtros{
  font-size: 11px;
}

.filtros_select{
  font-size: 11px;
  height: 21px;
  width:100px
}
</style>
