<h3>Productos</h3>

<div class="filtros" style="display: none" >
  <table>
     <tr>
       <td><%= select_tag :tipo_tramite_id,'<option></option>' + options_from_collection_for_select(Categoria.find(:all, :order => "nombre"),'id','nombre') if Categoria.count > 1 %></td>
       <td></td>
       <td><div id="cargando"   style="display: none;">&nbsp;<%= image_tag('iconos/cargando.gif')%></div></td>
     </tr>

  </table>
 </div>


<div class="search_simple">
  <table>
     <tr>
       <td><%= text_field_tag :txtbuscar, params[:txtbuscar] ,:size=>40,:placeholder => 'buscar ...'%></td>
       <td><div class="textbox1">&nbsp;<%= submit_tag "Buscar" , :class=>"btn btn-mini"%>&nbsp;</div></td>
       <td><div id="cargando"   style="display: none;">&nbsp;<%= image_tag('iconos/cargando.gif')%></div></td>
       <td>
           <div class="link_filtros" id="ver_filtros" onclick="ver_filtros()">ver filtros</div>
           <div class="link_filtros" id="ocultar_filtros" onclick="ocultar_filtros()" style="display:none">ocultar filtros</div>
       </td>
     </tr>
  </table>
   <div id="tips" style="color:gray; height:10px; padding: 0 0 20px 0"><small><strong>Tip:</strong> Puede ingresar alguna porci&oacute;n del nombre de la localidad.</small></div>






   
</div>

<% unless @productos.blank? %>
  <table class="table" style="font-size :13px" >
          <thead>
            <tr style="height:12px">
            <th>codigo</th>
            <th>nombre</th>
            <th>stock</th>
            <th>Marca</th>
          </tr>
          </thead>
          <tbody>
          <% @productos.each do |producto| %>
            <tr style="height:9px">
                <td><%=h producto.id %></td>
                <td><%=h producto.nombre %></td>
                <td><%=h producto.stock %></td>
                <td><%=h producto.marca.nombre %></td>
                <td style="text-align:right">
                       <%= link_to image_tag('iconos/zoom2.png'), producto, :title=>'Ver', :class=>'qtip' %>
                          <%= link_to image_tag('iconos/16x16/pencil.png'), edit_producto_path(producto), :title=>'Editar',:class=>'qtip' %>
                          <%= link_to image_tag('iconos/16x16/remove.png'), producto, :title=>'Eliminar',:class=>'qtip', :confirm => 'Esta Seguro?', :method => :delete %>
                </td>
              </tr>
          <% end %>
          </tbody>
  <%else%>
            <tr>
              <td><div><h3><font color="red">No se encontraron resultados</font></h3></div></td>
            </tr>
   <%end%>
</table>
 <div style="text-align:center">
    <%= will_paginate @productos, :previous_label => '<< Anterior', :next_label => 'Siguiente >>'%>
  </div>

<br />
<br />

 <%= link_to 'Nuevo Producto', new_producto_path ,:class=>'btn btn-primary' %>


<script type="text/javascript">
   $(document).ready(function(){
    $('.filtros').hide();
    $('.ocultar_filtros').hide();
    ocultar_filtros();

    })

  function ver_filtros(){
    $('.filtros').show();
    $('#ocultar_filtros').show();
     $('#ver_filtros').hide();
  }

  function ocultar_filtros(){
    $('.filtros').hide();
    $('#ocultar_filtros').hide();
    $('#ver_filtros').show();

  }


</script>

<style type="text/css">
 input[type="text"] {
   height: 15px;
   font-size: 13px;
   line-height: 15px;
   margin-bottom: 0px;
}

.link_filtros{
  font-size: 11px;
}
</style>
