<h4>Nuevo Producto</h4><hr style="margin-top: 0px; padding-top: 0px;  margin-bottom:25px" />

<% form_for(@producto) do |f| %>
  <%= f.error_messages %>


<div class="brogertab">
            <ul id="myTab" class="nav nav-tabs">
              <li class="active"><a href="#general"    data-toggle="tab">Generales</a></li>
              <li class=""><a href="#categoria"  data-toggle="tab">Categoria</a></li>
              <li class=""><a href="#web"        data-toggle="tab">Web</a></li>
              <li class=""><a href="#descripcion" data-toggle="tab">Descripci&oacute;n</a></li>
            </ul>

  <div id="myTabContent" class="tab-content" style="padding:10px 0px 0px 30px">
                      <div class="tab-pane active" id="general" style="width:100%">
                                       
                                         <table style="width:300px; margin-right:20px; display:inline; float: left">
                                             <th style="text-align:right; padding-right:7px; padding-top:5px"><b><%= f.label :codigo, "c&oacute;digo:" %></b></th>
                                                <td><b> <%=  Producto.count >= 1  ? "#{Producto.last.id.to_i + 1}" : "0"  %></b></td>
                                               </tr>
                                              <tr>
                                                <th style="text-align:right; padding-right:7px"><%= f.label :nombre %></th>
                                                <td><%= f.text_field :nombre %></td>
                                              </tr>
                                             <tr>
                                                <th><%= f.label :stock, "Stock" %></th>
                                                <td><%= f.text_field :stock %></td>
                                              </tr>
                                             <tr>
                                                <th colspan="2" style="text-align:left" >
                                                <%= f.label :avisa_stock_minimo, "Avisa stock M&iacute;nimo? " %>
                                                <%= f.check_box :avisa_stock_minimo %> 
                                                </th>
                                              </tr>
                                               <tr>
                                                <th><%= f.label :stock_minimo, "Stock M&iacute;nimo" %></th>
                                                <td><%= f.text_field :stock_minimo %></td>
                                              </tr>
                                              <tr>
                                                <th><%= f.label :unidad_id, "Unidad de M&eacute;dida" %></th>
                                                <td><%= f.select :unidad_id, Unidad.find(:all).collect{|t|[t.nombre, t.id]}, :selected => 1 %></td>
                                              </tr>
                                               <tr>
                                                <th><%= f.label :estado_id, "Estado" %></th>
                                                <td><%= f.select :estado_id, Estado.find(:all).collect{|t|[t.nombre, t.id]}, :selected => 1 %></td>
                                              </tr>
                                          </table>
                                          <fieldset style="border-width:6px">
                                           <table style="width:360px; display:inline; float: left">
                                          <tr >
                                                
                                              <tr>
                                                <th style="text-align:right; padding-right:7px"><%= f.label :costo, "Precio Costo" %></th>
                                                <td><%= f.text_field :costo,:size=>16,:placeholder => ' 0.00 $' %></td>
                                                <th style="text-align:right; padding-right:7px"><%= f.label :ganancia, "Ganacia" %></th>
                                                <td><%= f.text_field :ganancia ,:size=>16,:placeholder => ' 0.00 %' %></td>
                                              </tr>
                                              <tr>
                                                <th style="text-align:right; padding-right:7px"><%= f.label :descuento, "Descuento" %></th>
                                                <td><%= f.text_field :descuento,:size=>16,:placeholder => ' 0.00 %' %></td>
                                                <th style="text-align:right; padding-right:7px"><%= f.label :iva, "IVA" %></th>
                                                <td><%= f.text_field :iva ,:size=>16,:placeholder => ' 0.00 %'%></td>
                                              </tr>
                                              <tr>
                                                    <th style="text-align:right; padding-right:7px"><%= f.label :moneda_id, "Moneda" %></th>
                                                    <td><%= f.select :moneda_id, Moneda.find(:all).collect{|t|[t.nombre, t.id]}, :selected => 1 %></td>
                                                    <th style="text-align:right; padding-right:7px"></th>
                                                    <td></td>
                                              </tr>
                                              <tr>
                                                    <th colspan="2" style="text-align:left; margin:0 0 0 20px" >
                                                         <font size="+1" color="blue">Ganacias: <label id='total_ganancia'>0</label>&nbsp;$</font><br />
                                                         <font size="+1" color="blue">IVA: <label id='total_iva'>0</label>&nbsp;$</font><br />
                                                         <font size="+1" color="blue">Desc. Contado: <label id='total_desc_contado'>0</label>&nbsp;$</font><br />
                                                         <font size="+1" color="blue">PRECIO CONTADO: <label id='precio_contado'>0</label>&nbsp;$</font><br />
                                                         <font size="+2" color="blue">PRECIO LISTA: <label id='precio_lista'>0</label>&nbsp;$</font><br />
                                                    
                                                    </th>
                                              </tr>

                                         </table>          
                      </div>            </fieldset>          
                      <div class="tab-pane fade" id="categoria">
                        <table style="width:360px; display:inline; float: left">
                                                <tr>
                                                     <th><%= f.label :rubro_id, "Rubro" %></th>
                                                     <td><% unless Rubro.count == 0 %>
                                                            <%=  Rubro.count > 1 ? "#{f.select :rubro_id, Rubro.find(:all).collect{|t|[t.nombre, t.id]}, {:include_blank => true}}" : "#{Rubro.first.nombre}" %>
                                                        <% end %>
                                                     </td>
                                                </tr>
                                                <tr>
                                                     <th><%= f.label :seccion_id, "Secci&oacute;n" %></th>
                                                     <td><%=  f.select :seccion_id, Seccion.find(:all).collect{|t|[t.nombre, t.id]}, {:include_blank => true}%></td>
                                                </tr>
                                                 <tr>
                                                     <th><%= f.label :categoria_id, "Categoria" %></th>
                                                     <td><%=  f.select :categoria_id, Categoria.find(:all).collect{|t|[t.nombre, t.id]}, {:include_blank => true}%></td>
                                                </tr>
                                            </table>
                                            <table style="width:350px; display:inline; float: left">
                                                <tr>
                                                       <th><%= f.label :codigo_proveedor, "C&oacute;digo Proveedor" %></th>
                                                       <td><%= f.text_field :codigo_proveedor %></td>
                                                  </tr>
                                                  <tr>
                                                       <th><%= f.label :proveedor_id, "Proveedor" %></th>
                                                       <td><%= f.select :proveedor_id, Proveedor.find(:all).collect{|t|[t.razon_social, t.id]}, {:include_blank => true} %></td>
                                                  </tr>
                                                    <tr>
                                                       <th><%= f.label :marca_id, "Marca" %></th>
                                                       <td><%= f.select :marca_id, Marca.find(:all).collect{|t|[t.nombre, t.id]}, {:include_blank => true} %></td>
                                                  </tr>
                                                    <tr>
                                                       <th><%= f.label :deposito_id, "Deposito" %></th>
                                                       <td><%= f.select :deposito_id, Deposito.find(:all).collect{|t|[t.nombre, t.id]}, :selected => 1 %></td>
                                                  </tr>
                                             </table>

                      </div>

                      <div class="tab-pane fade" id="web">
                                             <table>
                                                  <tr>
                                                    <td> <div style="vertical-align: middle"><%= "#{f.check_box :visible_web} Visible para la Web" %></div></td>
                                                    <td></td>
                                                  </tr>
                                              </table>
                      </div>
              
              
                      <div class="tab-pane fade" id="descripcion">
                        <table style="width:100%">
                                <tr>
                                  <td><%= f.text_area :descripcion , :cols => "50", :rows => "10" ,:placeholder => 'describa el producto aqui ...'%></td>
                                </tr>
                        </table>
                                            
                      </div>

       </div>               
 

</div>
<br />
<br />
<div style="text-align: left; margin-top:30px"><p> <%= f.submit 'Guardar', :class=>"btn btn-danger" %> | <%= link_to 'Volver', productos_path %> </p></div>


<% end %>


<script type="text/javascript">


   $.validator.addMethod('Decimal', function(value, element) {
    return this.optional(element) || /^[0-9,]+(\.\d{0,3})?$/.test(value);
    }, "formato correcto 0000.00");

    $(document).ready(function(){
        $("#new_producto").validate({
         rules: {
              "producto[nombre]": {required: true, rangelength: [3,60]},
              "producto[marca_id]": {required: true},
              "producto[unidad_id]": {required: true},
              "producto[rubro_id]": {required: true},
              "producto[seccion_id]": {required: true},
              "producto[categoria_id]": {required: true},
              "producto[proveedor_id]": {required: true},
              "producto[moneda_id]": {required: true},
              "producto[estado_id]": {required: true},
              "producto[deposito_id]": {required: true},
              "producto[proveedor_id]": {required: true},
              "producto[codigo_proveedor]": {digits: true},
              "producto[stock_minimo]": {required: true, digits: true},
              "producto[stock]": {required: true, digits: true},
              "producto[costo]": {required: true, Decimal: true},
              "producto[ganancia]": {required: true,  Decimal: true},
              "producto[iva]": {required: true,  Decimal: true},
              "producto[descuento]": { Decimal: true},
              "producto[codigo_proveedor]": {digits: true}


              }
        });

      $('#producto_costo').keypress(totales_precio);
      $('#producto_costo').change(totales_precio);
      $('#producto_ganancia').keypress(totales_precio);
      $('#producto_descuento').keypress(totales_precio);


    });


    $('#myTab a').click(function (e) {
      e.preventDefault();
      $(this).tab('show');
    });


    var secciones = new Array();
    <% secciones = Seccion.find(:all) %>
    <% for seccion in secciones -%>
          secciones.push(new Array(<%= seccion.rubro_id %>, "<%=h seccion.nombre %>", <%= seccion.id %>));
    <% end %>
    $('#producto_rubro_id').change(seccionSelec);

    var categorias = new Array();
    <% categorias = Categoria.find(:all) %>
    <% for categoria in categorias -%>
          categorias.push(new Array(<%=h categoria.seccion_id %>, "<%=h categoria.nombre %>", <%=h categoria.id %>));
    <% end %>
    $('#producto_seccion_id').change(categoriaSelec);

    

function seccionSelec() {
    rubro_id = $('#producto_rubro_id').val();
    $('#producto_seccion_id').empty();
    $('#producto_categoria_id').empty();
    $('#producto_seccion_id').append(selec='<option></option>');
    secciones.forEach(function(seccion){
        if (seccion[0]==rubro_id){
          $('#producto_seccion_id').append(selec='<option value="'+ seccion[2] +'">'+seccion[1]+'</option>');
        }
    });
}

function categoriaSelec() {
    seccion_id = $('#producto_seccion_id').val();
    $('#producto_categoria_id').empty();
    $('#producto_categoria_id').append(selec='<option></option>');
    categorias.forEach(function(categoria){
        if (categoria[0]==seccion_id){
            $('#producto_categoria_id').append(selec='<option value="'+ categoria[2] +'">'+categoria[1]+'</option>');
        }
    });
}


function totales_precio(){

  var costo =  $('#producto_costo').val();
  var text_ganancia = $('#producto_ganancia').val();
  var text_iva =  $('#producto_iva').val();
  var text_descuento =  $('#producto_descuento').val();

  var costo = parseInt(costo);
  
  if (text_ganancia == null || text_ganancia == 0){
       ganancia = 0;
       }
  else {
      var text_ganancia = parseInt(text_ganancia);
      ganancia = text_ganancia * costo / 100;
  };

  if (text_iva == null || text_iva == 0){
       iva = 0;
       }
  else {
      var text_iva = parseInt(text_iva);
      iva = text_iva * costo / 100;
  };

  if (text_descuento == null || text_descuento == 0){
       descuento = 0;
       }
  else {
      var text_descuento = parseInt(text_descuento);
      descuento = text_descuento * costo / 100;
  };


  precio_lista = costo + ganancia + iva ;
  precio_contado = precio_lista - descuento;
  
  $('#total_ganancia').text(ganancia);
  $('#total_iva').text(iva);
  $('#total_desc_contado').text(precio_lista);
  $('#precio_contado').text(precio_contado);
  $('#precio_lista').text(precio_lista);
  
  
   
}



</script>


<style type="text/css">
    .brogertab{
          min-height: 280px;
          height: auto;
    }

    table
    {
    width:100%;
    }
    th{ 
      
       text-align: right;
       padding-right: 7px;


      }
    tr{
      height:40px;
     }
     table label{
        font-size: 11px;
      }

  </style>