<div id="titulo" style="padding: 10px 0 6px 20px ">
    <h3 >Producto</h3>
</div>
<div class="well" style="background-color:white">
  <div class="brogertab" >
              <ul id="myTab" class="nav nav-tabs">
                <li class="active"><a href="#general"    data-toggle="tab">Generales</a></li>
                <li class=""><a href="#categoria "  data-toggle="tab">Categoria</a></li>
                <li class=""><a href="#precios"        data-toggle="tab">Precios</a></li>
                <li class=""><a href="#descripcion"        data-toggle="tab">Descripci&oacute;n</a></li>
                <li class=""><a href="#web"        data-toggle="tab">Web</a></li>
              </ul>

         <div id="myTabContent" class="tab-content" style="padding:20px">
                <div  class="tab-pane active"  id="general" >
                         <table style="float:left; margin:0 180px 0 20px">
                               <tr>
                                <td><%= label_tag :a, "c&oacute;digo:" %><%=  @producto.codigo %></td>
                              </tr>
                              <tr>
                                <td><%= label_tag :a, "estado:" %><%=  @producto.estado.nombre %></td>
                              </tr>
                              <tr>
                                <td><%= label_tag :a, "stock m&iacute;nimo:" %><%=  @producto.stock_minimo %></td>
                              </tr>
                              <tr>
                                <td><%= label_tag :a, "stock ideal:" %><%=  @producto.stock_ideal %></td>
                              </tr>
                              <tr>
                                <td><%= label_tag :a, "avisa en:" %><%=  @producto.punto_de_pedido %></td>
                              </tr>
                        </table>
                        <table style="display:inline">
                              <tr>
                                <td><%= label_tag :a, "nombre:" %><%=  @producto.nombre %></td>
                              </tr>
                              <tr>
                                <td><%= label_tag :a, "unidad medida:" %><%=  @producto.unidad.nombre %></td>
                              </tr>
                              <tr>
                                <td><%= label_tag :a, "fecha alta:" %><%=  "#{@producto.created_at.strftime("%d/%m/%Y")} hs." if @producto.created_at %></td>
                              </tr>
                              <tr>
                                <td><%= label_tag :a, "&uacute;ltima actualizaci&oacute;n:" %><%=   "#{@producto.updated_at.strftime("%d/%m/%Y")} hs." if @producto.updated_at %></td>
                              </tr>
                              <tr>
                                <td></td>
                              </tr>
                        </table>

                            
                </div>
                 <div class="tab-pane fade" id="categoria">

                 
                      <div class="tab-pane fade" id="precios">
                                       
                      </div>
                      <div class="tab-pane fade" id="web">
                                            
                      </div>
              
              
                      <div class="tab-pane fade" id="descripcion">
                                                                   
                      </div>  
                </div>
                <div class="tab-pane fade" id="precios">
                                           
                </div>
                <div class="tab-pane fade" id="web">
 
                </div>
                <div class="tab-pane fade" id="descripcion">

                                            
                </div>  
        </div>
  </div>
</div>
<div id="pie" style="height:80px; padding-right:20px">
 <div style="text-align: right"><%= button_to_function 'Volver', "cerrarFancy()", :class=>"btn btn-danger" %></div>
</div>


<script type="text/javascript">

    $(document).ready(function(){      
            
    });  

  $('#myTab a').click(function (e) {
          e.preventDefault();
          $(this).tab('show');
        });



</script>



<style type="text/css">


  #fancybox-outer{
    background-color: #f5f5f5;
  }

  label{
    margin-right: 9px;
    font-size: 12px

  }

  table tr{
    height: 30px
  }
  
  #fancybox-wrap {
    padding:0;
  }

  #fancybox-inner {
  position:relative;
  }

  .brogertab{
          min-height: 260px;
          height: auto;
    }

    .tab-content{
        background-color: white
    }


</style>

