

<div id="titulo" style="width:100%; background-color:#53B9E9; color: #ffffff" >
    <div class="container" ><h3>Editar Lista de Precios</h3></div>  
 </div>
 <div id="herramientas" >
    <div class="container">
      <div id="cargando"   style="display: none; float:left">&nbsp;<%= image_tag('iconos/loader.gif')%></div>
    </div>
  </div>

<div class="container">
  <div class="row" >   
     <div id="menu_izquierdo"  class="col-sm-2" >
       <!-- ACORDENON -->
       <div class="panel-group" id="accordion" style="font-size:13px">
            <div class="panel panel-default">
             <div class="panel-heading" data-toggle="collapse"  href="#collapseTwo">
              <h5 class="panel-title"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><i class="glyphicon glyphicon-file" ></i>&nbsp;Reportes</a></h5>
             </div>
             <div id="collapseTwo" class="panel-collapse collapse">
              <div class="panel-body"> - todos   </div>
             </div>
           </div>
           <div class="panel panel-default">
              <div class="panel-heading"  data-toggle="collapse"  href="#collapseThree">
                <h5 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><i class="glyphicon glyphicon-folder-open" ></i>&nbsp; Tablas Relacionadas</a></h5>
              </div>
              <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                  <ul>
                     <li>rubros</li>
                     <li>secciones</li>
                     <li>categorias</li>
                     <li>marcas</li>
                     <li>proveedores</li>
                  </ul>
                </div>
              </div>
            </div>
      </div>
     </div>

     <div  id="contenido"  class="col-sm-10"  >
          <div id="buscador" >
             <% form_tag(editar_x_producto_producto_lista_precios_path, :method => 'get',:id=>'buscar') do -%>
                  <%= hidden_field_tag :lista_precio_id, @lista_precio_id %>   
                  <div id="cargando"   style="display: none; float:left">&nbsp;<%= image_tag('iconos/loader.gif')%></div>
                  <div class="filtros" >
                          <div style="font-size:10px; text-align: center; float: left; margin-right: 10px" >Rubro &nbsp; <%= select_tag :rubro_id,'<option></option>' + options_from_collection_for_select(Rubro.find(:all, :order => "nombre"),'id','nombre'), :class=> 'filtros_select' %></div>
                          <div style="font-size:10px; text-align: center; float: left; margin-right: 10px" >Secci&oacute;n  &nbsp; <%= select_tag :seccion_id,'<option></option>' + options_from_collection_for_select(Seccion.find(:all, :order => "nombre"),'id','nombre'), :class=> 'filtros_select' %></div>
                          <div style="font-size:10px; text-align: center; float: left; margin-right: 10px" >Categoria &nbsp; <%= select_tag :categoria_id,'<option></option>' + options_from_collection_for_select(Categoria.find(:all, :order => "nombre"),'id','nombre'), :class=> 'filtros_select' %></div>
                          <div style="font-size:10px; text-align: center; float: left; margin-right: 10px" >Marca &nbsp; <%= select_tag :marca_id,'<option></option>' + options_from_collection_for_select(Marca.find(:all, :order => "nombre"),'id','nombre'), :class=> 'filtros_select' %></div>
                          <div style="font-size:10px; text-align: center; float: left; margin-right: 10px; margin-bottom: 15px" >Proveedor &nbsp; <%= select_tag :marca_id,'<option></option>' + options_from_collection_for_select(Proveedor.find(:all, :order => "nombre"),'id','nombre'), :class=> 'filtros_select' %></div>
                          <div style="font-size:10px; text-align: center; float: left; margin-right: 10px; margin-bottom: 15px" ><%#= submit_tag "Buscar" , :class=>"btn btn-xs btn-default", :style=> "display:inline"%></div>
                          <div style="font-size:10px; text-align: center; float: left; margin-right: 10px; margin-bottom: 15px" ><%= text_field_tag :txtbuscar, params[:txtbuscar] ,:size=>12, :placeholder => 'buscar ...', :class=>"form-control" , :style=> "display:inline"%></div> 
                          <div style="font-size:10px; text-align: center; float: left; margin-right: 10px; margin-bottom: 15px" ><%= submit_tag 'buscar' %></div> 
                  </div>                                                                                  
                <% end -%>
                 
                  <% form_tag({:action=>'actualizar_x_producto',:controller=>'producto_lista_precios'}, {:id=>'producto_lista'}) do%>
                     <%= render :partial => 'result_x_prod' %>       
                  <div style="text-align:center; margin-top:8px" ><%= submit_tag 'Actualizar', :class=>"btn btn-danger btn-xs" %> </div>
                  <% end %>
  
         </div>
     </div>
    </div>
</div>
<script type="text/javascript">

  var secciones = new Array();
    <% secciones = Seccion.find(:all) %>
    <% for seccion in secciones -%>
          secciones.push(new Array(<%= seccion.rubro_id %>, "<%=h seccion.nombre %>", <%= seccion.id %>));
    <% end %>
   

    var categorias = new Array();
    <% categorias = Categoria.find(:all) %>
    <% for categoria in categorias -%>
          categorias.push(new Array(<%=h categoria.seccion_id %>, "<%=h categoria.nombre %>", <%=h categoria.id %>));
    <% end %>

    var marcas = new Array();
    <% marcas = Marca.find(:all) %>
    <% for marca in marcas -%>
          marcas.push(new Array(<%=h marca.rubro_id %>, "<%=h marca.nombre %>", <%=h marca.id %>));
    <% end %>


  $(document).ready(function(){
      $('#buscar').submit(mostrar_loading);
      $('#rubro_id').change(seccionSelec);
      $('#rubro_id').change(marcasSelec);
      $('#seccion_id').change(categoriaSelec);
      seccionSelec();
      categoriaSelec();
      marcasSelec();
  })
  $('#txtbuscar').focus;

    
  function seccionSelec() {
        rubro_id = $('#rubro_id').val();
        $('#seccion_id').empty();
        $('#categoria_id').empty();
        $('#seccion_id').append(selec='<option></option>');
        secciones.forEach(function(seccion){
            if (seccion[0]==rubro_id){
              $('#seccion_id').append(selec='<option value="'+ seccion[2] +'">'+seccion[1]+'</option>');
            }
        });
  }

  function categoriaSelec() {
    seccion_id = $('#seccion_id').val();
    $('#categoria_id').empty();
    $('#categoria_id').append(selec='<option></option>');
    categorias.forEach(function(categoria){
        if (categoria[0]==seccion_id){
            $('#categoria_id').append(selec='<option value="'+ categoria[2] +'">'+categoria[1]+'</option>');
        }
    });
  }

  function marcasSelec() {
    rubro_id = $('#rubro_id').val();
    $('#marca_id').empty();
    $('#marca_id').append(selec='<option></option>');
    marcas.forEach(function(marca){
        if (marca[0]==rubro_id){
            $('#marca_id').append(selec='<option value="'+ marca[2] +'">'+ marca[1]+'</option>');
        }
    });
  }


  function mostrar_loading(){
          if ( $('#txtbuscar') != '' && $('#buscar').valid()){
                $('#cargando').show();
          }
  }

  

  $("table").tablecloth({
      theme: "default",
      bordered: true,
      condensed: true,
      striped: false, // linea par gris impar blanca
      sortable: true,  // algo de jquery
      clean: false,
      cleanElements: "th td",
      customClass: "my-table"
    });


</script>


<style type="text/css">

  
    #titulo{
      padding: 20px 0px 0px 90px;
    }

     #herramientas{
        width: 100%;
        background-color:#53B9E9;
        padding: 0 20px 8px 0;
        text-align: right;
    }

    input[type="text"] {
       height: 24px;
       font-size: 13px;
       line-height: 15px;
       border-radius: 1px;
    }

    #buscador{
        height: 35px;
    }

    #menu_izquierdo{
      float: left;
      padding:20px 0 0 10px;
      font-size: 11px;
      /* background-color:green; */
    }

    #contenido{
      padding:12px 30px 0 50px;
      /*background-color:white; */
      float: left;
      display: inline;
    }

    .link_filtros{
      font-size: 16px;
      display: inline;
      color:#27A9E3;
    }

     .filtros{
       float: left; 
       width:100%
     }

    .filtros_select{
      font-size: 11px;
      height: 21px;
      width:60px;
    }

</style>

