<h1>New producto_lista_precio</h1>

<% form_for(@producto_lista_precio) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :producto_id %><br />
    <%= f.text_field :producto_id %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', producto_lista_precios_path %>