<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>SISTEMA STOCK</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->

    <link rel="shortcut icon" href="http://localhost/opt/ioscordev/images/gobierno/escudo_icono32x32.ico" type="image/x-icon" />

 
    <%= stylesheet_link_tag  'bootstrap',
                             'tablecloth',
                             'prettify.css',
                             'bootstrap-tables',
                             'broger',
                             'jquery.fancybox-1.3.1'
                              %>

    <%= javascript_include_tag  'jquery-1.10.2.min', # siempre primer jquery
                                'jquery.fancybox-1.3.1',
                                'bootstrap.min',
                                'bootstrap',
                                'holder',
                                'affix',
                                'alert',
                                'button',
                                'carousel',
                                'collapse',
                                'modal',
                                'dropdown',
                                'popover', 
                                'scrollspy',
                                'tab',
                                'tooltip',
                                'transition',
                                # tablas 
                                'jquery.metadata',
                                'jquery.tablecloth',
                                'jquery.tablesorter.min',
                                # Validate jquery
                                'jquery.validate',
                                'messages_es'
                                

    %>

     <%#= csrf_meta_tag %>


  </head>
  <body>
     <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container" style="padding: 0"  >
        <div class="navbar-header" >
        <%#= " <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <col-md- class="icon-bar">dfdfdf</col-md->
            <col-md- class="icon-bar">222222222222</col-md->
            <col-md- class="icon-bar">3333333</col-md->
          </button> "  %>

          <a class="navbar-brand" href="#">STOCK&nbsp;&nbsp;&nbsp;&nbsp;</a>


        </div>
        <div class="navbar-collapse collapse" >
           <% cache([current_user,"menu"]) do %>
                <ul class="nav navbar-nav" style="font-size:12px" >
                        <%@menu_raices = Menu.roots
                          @menu_raices.each do |r| %>
                                    <%=  hacer_menu(current_user, r,true,false) %>
                        <% end %>

                </ul>
     <% end %>
           <% cache([current_user,"logindata"]) do %>
             <p class="navbar-text pull-right">
               <a  style="text-decoration:none"href="http://twitter.github.com/bootstrap/examples/fluid.html#"><i class="glyphicon glyphicon-user"></i>&nbsp;<%=current_user.name if current_user %></a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/logout" style="color:#999999;" class="glyphicon glyphicon-off" title="salir del sistema" ></a>
             </p>
            <% end %>

        </div><!--/.nav-collapse -->
      </div>
    </div>
    <div class="container" style="height: 750px">
            <div class="row" >
                    <div  id="botonera"  class="col-sm-12" >
                      <div id="bontones" style="float:left">
                      <a  id ="calculadora" class ="fancybox" href="<%= calculadora_menus_path %>" >calculadora</a>
                       <button type="button" style="height:32px; width:40px;" class="btn btn-xs btn-default glyphicon glyphicon-search"></button>
                       <button type="button" style="height:32px; width:40px;" class="btn btn-xs btn-default glyphicon glyphicon-usd"></button>
                       <button type="button" style="height:32px; width:40px;" class="btn btn-xs btn-default glyphicon glyphicon-stats"></button>
                       <button type="button" style="height:32px; width:40px;" class="btn btn-xs btn-default glyphicon glyphicon-search"></button>
                       <button type="button" href="" style="height:32px; width:40px;" class="btn btn-xs btn-default glyphicon glyphicon-search"></button>
                      </div>
                      <div id="atras" style="float:right; margin:10px 10px 0 0" ><%= link_to image_tag ("iconos/atras.png"), 'javascript:history.back(1)', :title=> "atras" %></div>

                   </div>
            </div>
            <div class="row" >
                     <%if flash[:notice]%>
                        <div  id="noticias" class="col-sm-12"  >
                              <div class="alert alert-warning fade in" style="width:100%">
                              <button type="button" class="close" data-dismiss="alert">&times;</button><i class="glyphicon glyphicon-warning-sign" ></i>&nbsp;&nbsp;<%= flash[:notice] %></div>
                        </div>
                     <%end%>
                     <%if flash[:error]%>
                        <div  id="noticias" class="col-sm-12" >
                              <div class="alert alert-warning fade in" style="width:80%">
                              <button type="button" class="close" data-dismiss="alert">&times;</button><%= flash[:notice] %></div>
                        </div>
                     <%end%>
                  </div>
            <div class="row">
                    <div  class="col-sm-12">
                               <%= yield %>
                    </div>
            </div>
        </div>
</body>
<footer>
</footer>
</html>

<script type="text/javascript">
    $(document).ready(function(){

           $("input:text:visible:first").focus();

           $(".fancybox").fancybox();


    });


   

</script>


<style type="text/css">

   body {
        padding-top: 60px;
        /* background-color:rgb(192, 148, 176) */

      }

      .sidebar-nav {
        padding: 9px 0;
      }

      #botonera{
       /* background-color:gray */
      }

      .container{
        max-width: 1300px;

     }

     footer{
       background-color:black;
       height:220px;
       margin-bottom: 0px;
    }

 
    .dropdown-submenu{position:relative;}
    .dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
    .dropdown-submenu:hover>.dropdown-menu{display:block;}
    .dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
    .dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
    .dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}


  /** ACORDEON **/
 
    .panel-group .panel {

       border-radius: 1px;

     }

    .panel-title {
      color:#ffffff;
      font-size: 12px;
       background-color:#27A9E3
     }

     .panel-heading{
         background-color:#27A9E3
     }

     .panel-default > .panel-heading {
       background-color:#27A9E3
     }

    .panel-group{
      border-radius: 1px;
     }
    .panel panel-default{
      border-radius: 1px;
     }
     .panel-heading{
      border-radius: 1px;
      }

      .alert{ 
        padding: 9px ;
        margin: 18px 0 0 0;
      }

      
</style>